.builder-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1.25rem;
  width: 40%;
  height: 60vh;

  object-fit: contain;
  object-fit: cover;
}

.builder-details p {
  color: var(--Neutral-70, #374151);
  font-family: Inter Tight;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 1.7875rem */
  letter-spacing: 0.0275rem;
}

.builder-image-wrapper {
  display: flex;
  width: 90vw;
  margin-left: 3rem;
  gap: 3rem;
}

.builder-username {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 6.25rem;
  background: var(--Neutral-100, #030712);
  color: var(--Neutral-0, #fff);
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  padding-left: 3rem;
  padding-right: 3rem;
  letter-spacing: 0.0275rem;
}

.builder-username p {
  color: #fff;
}

.builder-socials {
  display: flex;
  margin-left: 3rem;
  gap: 1rem;
  margin-top: 1rem;
}

.builder-socials h4 {
  color: var(--Neutral-100, #030712);
  font-family: Inter Tight;
  width: 50%;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 4.5rem */
  letter-spacing: -0.09rem;
}

.single-social h6 {
  color: var(--Neutral-100, #030712);
  font-family: Inter Tight;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.7875rem */
  letter-spacing: 0.0275rem;
}

.single-social {
  display: flex;
  padding-bottom: 1.5rem;
  width: 40vw;
  gap: 0;
  flex-direction: column;
  border-bottom: 1px solid var(--Neutral-20, #e5e7eb);
}

.single-social a {
  color: var(--Neutral-70, #374151);
  font-family: Inter Tight;
  text-align: left;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin-top: -2rem;
  line-height: 150%; /* 1.6875rem */
  letter-spacing: 0.0225rem;
  text-decoration: none;
}

.social-links {
  margin-top: 4rem;
}

.back-button {
  display: flex;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background-color: #fff;
  border-radius: 6.25rem;
  border: 1px solid var(--Neutral-100, #030712);
  color: var(--Neutral-100, #030712);
  font-family: Inter Tight;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.02rem;
  margin-top: 2rem;
  cursor: pointer;
}

.builder-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}